FGV - Escola de Matemática Aplicada
==
Curso de Verão - Introdução à Programação com a Linguagem Python
--

### Agora vamos ver o tipo string:

In [183]:
tq = 'um texto qualquer'

In [184]:
type(t)

str

In [185]:
len('uma string qualquer')

19

In [186]:
t.capitalize() # capitalize() coloca a primeira letra da string maiúscula

'Um texto qualquer'

In [219]:
t.upper() # coloca todas as letras em maiúsculo

'UM TEXTO QUALQUER'

In [220]:
t.lower() #coloca todas as letras em minúsculo

'um texto qualquer'

In [187]:
t.find('x') # find() acha a posição da letra

5

In [188]:
t.endswith('r') # endwith("caractere") vê se a string termina com o caractere dado e retorna True ou False

True

In [189]:
t.startswith('u') # startswith("caractere") vê se a string começa com o caractere dado e retorna True ou False

True

In [190]:
t[0:4] # mostra os caracteres da posição 0 à posição 4

'um t'

In [191]:
t[3:8] # mostra os caracteres da posição 3 à posição 8

'texto'

In [192]:
t[-1] # mostra a úlitima letra

'r'

In [193]:
t[:7] # Quando não tem o primeiro índice, está subentendido que é da posição 0 até a outra posição dada

'um text'

In [194]:
t

'um texto qualquer'

In [195]:
t2 = t[2:6]

In [196]:
t2

' tex'

##### Alterando caracteres de uma string

In [197]:
t

'um texto qualquer'

In [198]:
t.replace(" ","_")

'um_texto_qualquer'

##### Concatenando strings

In [199]:
t

'um texto qualquer'

In [200]:
t1 = "estou escrevendo"

In [201]:
t1

'estou escrevendo'

In [202]:
t1+ " "+t

'estou escrevendo um texto qualquer'

### Vejamos o tipo Lista

In [115]:
l = [1,2,4,3,4+3j,[1,2,[2.3,[4,5]]],'uma string']

In [116]:
l

[1, 2, 4, 3, (4+3j), [1, 2, [2.3, [4, 5]]], 'uma string']

##### Inspecionando os elementos da lista

In [117]:
l[6][4:] #Retorna o sexto elemento, do índice 4 até o final.

'string'

##### Adicionando outro elemento à lista com a função append()

In [118]:
l.append('outra string')

In [119]:
l

[1, 2, 4, 3, (4+3j), [1, 2, [2.3, [4, 5]]], 'uma string', 'outra string']

##### Removendo elemento da lista

In [120]:
l.pop() #Removendo com a função pop

'outra string'

In [121]:
l

[1, 2, 4, 3, (4+3j), [1, 2, [2.3, [4, 5]]], 'uma string']

In [122]:
l.remove(3) #Removendo utilizando o remove()

In [123]:
l

[1, 2, 4, (4+3j), [1, 2, [2.3, [4, 5]]], 'uma string']

In [124]:
l.remove(l[1])

In [125]:
l

[1, 4, (4+3j), [1, 2, [2.3, [4, 5]]], 'uma string']

##### Achando a posição do elemento na lista com a função index()

In [126]:
l.index('uma string')

4

##### A função reverse() inverte a ordem dos elementos da lista

In [127]:
l.reverse()

In [128]:
l

['uma string', [1, 2, [2.3, [4, 5]]], (4+3j), 4, 1]

In [129]:
l[0]

'uma string'

In [169]:
notas = [('Rafael', 9.4), ('Gustavo',9.5)]

In [170]:
notas

[('Rafael', 9.4), ('Gustavo', 9.5)]

In [171]:
notas[1][1]

9.5

In [175]:
type(notas)

list

### Vejamos o tipo Dicionário

In [130]:
d = {'IntroComp':9.6, 'Modelagem':8.2, 'Economia':6, "Calculo":8.0}

In [131]:
d

{'Calculo': 8.0, 'Economia': 6, 'IntroComp': 9.6, 'Modelagem': 8.2}

##### Modificando um value

In [132]:
d['Calculo'] = 9

In [133]:
notas_turma = {'Alifer':d, 'Carla':d}

In [134]:
notas_turma

{'Alifer': {'Calculo': 9, 'Economia': 6, 'IntroComp': 9.6, 'Modelagem': 8.2},
 'Carla': {'Calculo': 9, 'Economia': 6, 'IntroComp': 9.6, 'Modelagem': 8.2}}

##### Adicionando mais uma key ao dicionário

In [139]:
notas_turma['Rafael'] = {'História':10}

In [140]:
notas_turma

{'Alifer': {'Calculo': 9, 'Economia': 6, 'IntroComp': 9.6, 'Modelagem': 8.2},
 'Carla': {'Calculo': 9, 'Economia': 6, 'IntroComp': 9.6, 'Modelagem': 8.2},
 'Rafael': {'História': 10}}

In [141]:
notas_turma['Carla']['Economia']

6

In [167]:
notas_turma['Carla']['Modelagem'] = 10

In [168]:
notas_turma['Carla']['Modelagem']

10

In [142]:
notas_turma

{'Alifer': {'Calculo': 9, 'Economia': 6, 'IntroComp': 9.6, 'Modelagem': 8.2},
 'Carla': {'Calculo': 9, 'Economia': 6, 'IntroComp': 9.6, 'Modelagem': 8.2},
 'Rafael': {'História': 10}}

In [161]:
len(notas_turma) # Nesse caso o que se tem é a quantidade de pares key:value do dicionário notas_turma

3

In [157]:
len(notas_turma['Alifer']) # Já nesse caso, o que se tem é o tamanho do dicionário que é o valor da chave Alifer do dicionário notas_turma

4

In [163]:
notas2 = {'Alifer':[9,9,7], 'Lucas':[7,9,9]}

In [164]:
notas2

{'Alifer': [9, 9, 7], 'Lucas': [7, 9, 9]}

In [174]:
type(notas2)

dict

### Tipo Booleano

In [146]:
a

23.0

In [143]:
b = a <= 2

In [144]:
b

False

In [145]:
type(b)

bool

### Vejamos o tipo Set

In [147]:
c = {3,2,5,4,2,4,3,5}

In [148]:
c

{2, 3, 4, 5}

In [149]:
d = {5,6,7,8}

##### União de conjuntos

In [150]:
c.union(d)

{2, 3, 4, 5, 6, 7, 8}

##### Intersecção de conjuntos

In [151]:
c.intersection(d)

{5}

##### Diferença de conjuntos

In [176]:
c.difference(d)

{2, 3, 4}

In [152]:
type(c)

set

### Vamos ver o tipo Tupla

In [153]:
t = (2,3,5,4,{'chave':3})

In [154]:
t

(2, 3, 5, 4, {'chave': 3})

In [155]:
t[4]['chave']

3

In [180]:
t.count(3) # Conta quantas vezes o elemento dado aparece na tupla.

1

In [181]:
t.index(5) # Dá a posição do elemento.

2

In [156]:
len(t)

5

In [173]:
type(t)

tuple

# Conversão entre tipos:

 * Conversão de int em float e de float em int:

In [203]:
int(1.0)

1

In [204]:
float(2017)

2017.0

* Conversão de string em float, de string em int, de float em string e de int em string:

In [205]:
str(1.0)

'1.0'

In [206]:
str(2017)

'2017'

In [207]:
float('2.5')

2.5

In [208]:
int("6")

6

### Conversão entre sequências:

- string em sequências e sequências em string :

In [209]:
list("Curso")

['C', 'u', 'r', 's', 'o']

In [210]:
set("de")

{'d', 'e'}

In [211]:
tuple("Verao")

('V', 'e', 'r', 'a', 'o')

In [212]:
str([2,0,1,7])

'[2, 0, 1, 7]'

- list em set e set em list:

In [213]:
set([1,2,3])

{1, 2, 3}

In [214]:
list({1,2,3})

[1, 2, 3]

- tuple em set e set em tuple:

In [215]:
set((4,5,6))

{4, 5, 6}

In [216]:
tuple({4,5,6})

(4, 5, 6)

* Conversão para dicionário:
(cada elemento deve ser um par)

In [217]:
dict([['Linguagem','Python'],['Professores','Flavio e Renato']])

{'Linguagem': 'Python', 'Professores': 'Flavio e Renato'}

In [218]:
dict([(1,1), (2,4), (3,9)])

{1: 1, 2: 4, 3: 9}